html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  height: 230px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.search-and-add-card {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
#CardList {
  margin: 20px;
}
.content {
  color: rgb(10, 34, 54);
}
.title {
  display: flex;
  justify-content: space-between;
}
.title .title_text {
  font-weight: bold;
}
.pin {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 50px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.container:hover .nav-content {
  visibility: visible;
  opacity: 1;
}
.container:hover .pin {
  visibility: visible;
  opacity: 1;
}

.container:hover {
  box-shadow: 0 4px 8px 0 rgba(2, 76, 236, 0.2);
}
