* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
:root {
  --margin: 20px;
  --border-radius: 10px;
  --primary-white: #ffff;
  --primary-black: #000000;
  --nav-text: #1a1919da;
  --main-color: #e53371;
  --search-color: #ffffff;
}
.admin-contant-tag-cover-card {
  background-color: rgba(185, 186, 245, 0.842);
  padding: 10px;
  border-radius: var(--border-radius);
  height: 100px;
}
.search-tm {
  background-color: var(--search-color);
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.search-tm input {
  background-color: transparent;
  outline: none;
  border: none;
}
.searchbtn {
  padding: 5px 20px;
  border: none;
  background-color: var(--search-color);
  border-radius: 10px;
}
.search {
  border-radius: 10px;
  display: flex;
  border: 1px solid #00000049;
}

hr {
  opacity: 0.5;
}
.user-list {
  margin: 20px 0;
}
/* -------- profile image and info style --------- */

.my-profile img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.user-info {
  margin: 0px 5px;
}
.name {
  font-size: 14px;
  font-weight: bold;
}
.email {
  font-size: 12px;
  margin-top: 5px;
  color: var(--nav-text);
}
