* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
:root {
  --margin: 20px;
  --border-radius: 10px;
  --primary-white: #ffffff;
  --text-color: #161616;
  --primary-black: #000000;
  --main-color: #e53371;
  --nav-text: #1a1919da;
}
.nav-header {
  margin: var(--margin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
}
.main-section {
  display: flex;
}
.active {
  background-color: transparent;
  color: var(--main-color);
}
.sider-nav {
  margin-left: 20px;
  border-radius: 10px;
  width: 15%;
  height: 70%;
  border: 1px solid #0000001f;
  margin-top: 20px;
  position: fixed;
  flex-basis: 15%;
}
.sider-nav h3 {
  color: var(--text-color);
  margin: 10px 0px;
  text-align: left;
}
.main-contant {
  margin: var(--margin);
}
.sider-nav {
  padding: 10px;
}
.nav-header ul li {
  list-style: none;
  text-align: center;
  display: inline-block;
  color: #a7a7a8;
}

.nav-header .active-list {
  color: #344767;
}
.by-page {
  color: #0000009f;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
}
hr {
  opacity: 1;
  border-top: 1px none rgb(194, 193, 193);
}
.side-nav-content a {
  text-decoration: none;
  color: var(--text-color);
}
.side-nav-content ul li:hover {
  /* background-color: var(--main-color); */
  color: var(--main-color);
  animation: ease-in-out 2s;
}
.side-nav-content ul li {
  list-style: none;
  padding: 5px 3px;
  animation: ease-in-out 2s;
  border-radius: var(--border-radius);
  cursor: pointer;
}
.side-nav-content li {
  /* background-color: rgba(158, 156, 156, 0.24); */
  margin-top: 10px;
}
.close-btn {
  float: right;
  font-size: 20px;
}
.close-btn:hover {
  color: red;
}
/* ------------------------------ */
.main-container {
  margin-right: 20px;
}
.main-contant-tag-card {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: var(--border-radius);
}
/* -------------------- mobaile view ------------------- */

@media screen and (max-width: 790px) {
  #Side_Nav {
    position: absolute;
    width: 50%;
    display: none;
    animation-timing-function: ease-in-out;
  }
  #Search {
    display: none;
  }
  .nav-header {
    width: 90%;
  }
}
@media screen and (min-width: 790px) {
  .main-container {
    width: 100%;
    margin-left: 21%;
  }
  #closeBtn,
  #ManuButton {
    display: none;
  }
}
.balance {
  background-color: #344767;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 22.5%;
  margin-bottom: 16px;
  margin-right: 24px;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.column:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s, visibility 0.5s;
}

.column:hover .button_list {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
.container {
  padding: 17px;
  cursor: pointer;
  min-height: 230px;
  max-height: 450px;
  overflow: hidden;
}
.row {
  padding: 10px 10px;
}
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}
.pinned {
  font-size: 12px;
  padding: 10px 0;
}
.title {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: var(--main-color);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.search-and-add-card {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: space-between;
}
.title .title_text {
  font-weight: bold;
}
.pin {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.pinned-note {
  visibility: visible;
  opacity: 1;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 70px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.container:hover .nav-content {
  visibility: visible;
  opacity: 1;
}
.footer_icon {
  visibility: hidden;
  opacity: 0;
}
.container:hover .pin {
  visibility: visible;
  opacity: 1;
}

/* .container:hover {
  box-shadow: 0 4px 8px 0 rgba(2, 76, 236, 0.2);
} */
/* Popup box BEGIN */
.popupCloseButton {
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
}
.showData,
.add-notes {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  transform: translate(-50%, -50%);
  background-color: #eeeeee;
  box-sizing: border-box;
  border-radius: 5px;
  width: 450px;
  height: 380px;
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527);
}
textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  overflow: hidden;
  resize: none; /* Disable the default resizing */
  background-color: transparent;
  outline: none;
  transition: all 0.2s ease;
  color: #000000;
  border-radius: 5px;
  padding-bottom: 16px;
  height: 250px;
  letter-spacing: 0.0142857143em;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.25rem;
  color: #202124;
  font-size: 14px;
}

.blur_div-active {
  background-color: #00000054;
  transform: translate(-50%, -50%);
  width: 100%;
  position: fixed;
  height: 100%;
  top: 50%;
  left: 50%;
}
